header{
    display: flex;
    height: 50px;
    padding: 5px 0 5px 50px;
    background: black;
    align-items: center;
}

.icones{
    position: absolute;
    right: 0;
    padding: 50px;
}

.ion{
    color: white;
    font-size: 20px;
    margin: 4px;
    transition: all 2s;

}

.ion:hover{
    color: #871FFE;
    transform: scale(1.10);
}

header img{
    width: 200px;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgb(67, 67, 67)30%, black 60%);
}

.decodificador{
    padding: 100px 50px;
}

.decodificador span{
    color: rgba(255, 255, 255, 0.719);
    margin: 0 0 0 6px;
}

.decodificador textarea{
    display: block;
    width: 600px;
    height: 40px;
    border: none;
    resize: none;
    font-size: 30px;
    background: #000000;
    color: white;
    margin-top: 15px;
}

.decodificador textarea::placeholder{
    color: white;
}

.decodificador button{
    width: 288px;
    height: 50px;
    margin: 280px 10px 20px 0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #871FFE;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 2s;
}

.decodificador button:hover, .btn-copiar:hover{
    background: #BD0BA2;
}

.btn-criptografar{
    background: #871FFE;
}

.btn-descriptografar{
    background: #d5baf3;
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 70%;
    margin: 0 0 0 120px;
    padding: 40px;
    background: #000000;
    border-radius: 20px;
    color: white;
    border: 2px solid #871FFE;
    box-shadow: -2px -2px 10px white;
}

.resultado img{
    width: 240px;
}

.frase-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frase-resultado p{
    width: 240px;
    text-align: center;
    font-size: 18px;
}

.frase-resultado :nth-child(1){
    font-size: 28px;
    padding: 10px;
    
}

.btn-copiar{
    width: 250px;
    height: 40px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1.5px solid #871FFE;
    background: #d5baf3;
    font-size: 15px;
    cursor: pointer;
    visibility: hidden;    
}

footer{
    background: rgb(67, 67, 67);
    text-align: center;
    height: 30px;
    color: white;
}

/*CSS para Tablets*/
@media (min-width: 768px) and (max-width: 1200px){
    main{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }

    .decodificador button{
        margin: 80px 10px 80px 0;
    }

    .resultado{
        width: 65%;
        height: 40%;
        margin: 0 auto;
    }

    .resultado img{
        width: 300px;
    }
}

/*CSS para Smartphones*/
@media (max-width: 767px){
    header{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .icones{
        position: relative;
        padding: 0;
    }

    main{
        flex-direction: column;
        height: 100vh;
    }

    .decodificador{
        margin: 20px 0 0;
        padding: 50px;
    }

    .decodificador textarea{
        width: 250px;
        height: 60px;
        font-size: 25px;
    }

    .decodificador button{
        width: 110px;
        height: 50px;
        margin: 10px 10px auto;
        box-shadow: 1px 1px 1px #871FFE;
        font-size: 12px;
        cursor: pointer;
    }

    .resultado{
        width: 50%;
        height: 40%;
        margin: 0 auto;
    }

    .resultado img{
        width: 150px;
    }

    .frase-resultado p{
        font-size: 15px;
    }
    
    .frase-resultado :nth-child(1){
        font-size: 22px;
    }
}